# Node.js
node_modules/
.env
dist/
build/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional
*.local
*.log
.cache/
.vscode/
.idea/
.DS_Store

# Nodemon
nodemon-debug.log

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# MongoDB
dump/
*.seed.js

# Others
coverage/
*.tgz

# TypeScript (if using)
*.tsbuildinfo
